body {
  background: url('../images/esport/bg.webp') no-repeat fixed center;
  background-size: cover;
  position: relative;
}

body::after {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000a9;
  z-index: -1;
}

.header {
  background-color: #000000da;
}

.header__navbar__item a:hover:not(.header__navbar__item--active) {
	background-color: #363636;
}

.main {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-areas: 'article sidebar';
  grid-template-rows: auto;
  margin: 0 100px;
  padding-top: 80px;
}

.main__article {
  grid-area: article;
}

/* Slideshow container */
.main__article .slideshow__container {
  width: 100%;
  padding-top: 60%;
  margin: 0 auto 100px;
  position: relative;
  overflow: hidden;
}

.main__article .slideshow__container .slideshow__list {
  display: flex;
  width: 400%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.main__article .slideshow__container .slideshow__item {
  height: 100%;
  width: 100%;
}

.main__article .slideshow__container .slideshow__item img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

/* Number text (1/4 etc) */
.main__article .slideshow__container .slideshow__item .slideshow__numbertext {
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.main__article .slideshow__container .slideshow__buttons {
  width: 100%;
  position: absolute;
  bottom: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.main__article .slideshow__container .slideshow__buttons .slideshow__prev-btn,
.main__article .slideshow__container .slideshow__buttons .slideshow__next-btn {
  font-size: 4em;
  width: 50px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  border: none;
  color: #ff7300;
  transition: background-color .4s ease;
}

.main__article .slideshow__container .slideshow__buttons .slideshow__prev-btn:hover,
.main__article .slideshow__container .slideshow__buttons .slideshow__next-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.main__article .slideshow__container .slideshow__buttons .slideshow__prev-btn {
  left: 0;
  padding-right: 20px;
}
 
.main__article .slideshow__container .slideshow__buttons .slideshow__next-btn {
  right: 0;
  padding-left: 20px;
}

.main__article .slideshow__container .slideshow__dots {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}
.main__article .slideshow__container .slideshow__dots .dot__item {
  height: 15px;
  width: 15px;
  margin: 20px 5px 0;
  border: #ff7300 solid 3px;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.main__article .slideshow__container .slideshow__dots .dot__item:hover {
  background-color: #ff7300;
  cursor: pointer;
}

.main__article .slideshow__container .slideshow__dots .dot__item.active {
  background-color: #ff7300;
}


/* Card Grid Layout */
.main__article .card-grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 40px;
}

.main__article .card-grid__container .card-grid__item {
  overflow: visible;
  position: relative;
  z-index: 1;
}

.main__article .card-grid__container .card-grid__item .card__background {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  transition: all .3s;
}

.main__article .card-grid__container .card-grid__item .card__foreground{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  overflow: visible;
  background-color: #141212;
  transition: all ease-in .2s;
  position: relative;
  z-index: 1;
}

.main__article .card-grid__container .card-grid__item:hover .card__background {
  border-radius: 20px;
}

.main__article .card-grid__container .card-grid__item:hover .card__foreground {
  transform: scale(0.98);
  border-radius: 20px;
}


.main__article .card-grid__container .card-grid__item .card__img {
  width: 100%;
  padding-top: 60%;
  height: 0;
  position: relative;
}

.main__article .card-grid__container .card-grid__item .card__img img {
  position:  absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__article .card-grid__container .card-grid__item:hover .card__img {
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;
}


.main__article .card-grid__container .card-grid__item .card__title {
  color: #d67f2d;
  height: 60px;
  cursor: pointer;
}

.main__article .card-grid__container .card-grid__item .card__date {
  color: #00a00d
}

.main__article .card-grid__container .card-grid__item .card__love {
  color: #ff0000;
  margin-left: 10px;
}

.main__article .card-grid__container .card-grid__item .card__love .loved:hover,
.main__article .card-grid__container .card-grid__item .card__love .not-loved:hover {
  cursor: pointer;
  scale: 1.2;
}

.main__article .card-grid__container .card-grid__item .card__love .loved {
  display: none;
}

.main__article .card-grid__container .card-grid__item .card__love.active .loved {
  display: inline-block;
}

.main__article .card-grid__container .card-grid__item .card__love.active .not-loved {
  display: none;
}

.main__article .card-grid__container .card-grid__item p {
  color: #ffffff;
  margin: 10px 0;
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 10px 0;
}

.main__article .card-grid__container .card-grid__item .card__more-info {
  width: 50%;
  height: 50px;
  color: #000;
  background: linear-gradient(270deg, #ffabab, #3fc2ff, #ff6ecf);
  background-size: 800% 800%;
  transition: .3s;
  border: none;
  margin:  20px auto;
  display: block;
}

.main__article .card-grid__container .card-grid__item .card__more-info:hover {
  cursor: pointer;
  border-radius: 10px;
  background-size: 800% 800%;
  animation: infinite-color 2s ease infinite;
} 
/* Pagination*/
.main__article .pagination {
  display: flex;
  justify-content: center;
  margin: 50px auto 0px;
}

/* Pagination links */
.main__article .pagination a {
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.main__article .pagination a.active {
  background-color: rgb(0, 87, 173);
  color: white;
}

/* Add a grey background color on mouse-over */
.main__article .pagination a:hover:not(.active) {
  background-color: #c43434;
}


/* Side Bar */
.main__sidebar {
  grid-area: sidebar;
  margin-left: 20px;
}

.main__sidebar .follow-us > h2 {
  color: #fff;
  margin: 0 0 20px;
}

.main__sidebar .social-page__list {
  list-style-type: none;
  padding-inline-start: 0;
}

.main__sidebar .social-page__list .social-page__item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 90px;
}

.main__sidebar .social-page__list .social-page__item .social-page__item__content {
  flex: 7;
  font-weight: 600;
}

.main__sidebar .social-page__list .social-page__item.facebook-page {
  background: linear-gradient(270deg, #ce68d9, #dbc045, #539dff);
  background-size: 800% 800%;
}

.main__sidebar .social-page__list .social-page__item.twitter-page {
  background: linear-gradient(270deg, #68d1d9, #ff963f, #fffc60);
  background-size: 800% 800%;
}

.main__sidebar .social-page__list .social-page__item.youtube-page {
  background: linear-gradient(270deg, #ff8800, #8fbace, #ff5151);
  background-size: 800% 800%;
}

.main__sidebar .social-page__list .social-page__item.tiktok-page {
  background: linear-gradient(270deg, #ffabab, #3fc2ff, #ffffff);
  background-size: 800% 800%;
}

.main__sidebar .social-page__list .social-page__item.facebook-page:hover,
.main__sidebar .social-page__list .social-page__item.twitter-page:hover, 
.main__sidebar .social-page__list .social-page__item.youtube-page:hover,
.main__sidebar .social-page__list .social-page__item.tiktok-page:hover {
  background-size: 800% 800%;
  animation: infinite-color 2s ease infinite;
}

@keyframes infinite-color {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.main__sidebar .social-page__list .social-page__item i {
  padding: 40px 20px;
  font-size: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .7s ease-in-out;
}

.main__sidebar .social-page__list .social-page__item i.fa-square-plus:hover {
  transform: rotate(360deg) ;
}

.main__sidebar .recent-post,
.main__sidebar .playoffs,
.main__sidebar .next-match {
  color: #fff;
  margin-top: 100px;
}

.main__sidebar .recent-post .recent-post__list {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.main__sidebar .recent-post .recent-post__list .recent-post__item {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 79, 110), rgba(255, 0, 0, 0.603));
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
}

.main__sidebar .recent-post .recent-post__list .recent-post__item:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 66, 52), rgb(0, 172, 115), rgb(240, 69, 225));
  cursor: pointer;
}

.main__sidebar .recent-post .recent-post__list .recent-post__item .recent-post__item__img {
  flex: 2;
  height: 100%;
}

.main__sidebar .recent-post .recent-post__list .recent-post__item .recent-post__item__body {
  flex: 3;
  margin-left: 10px;
}

.main__sidebar .recent-post .recent-post__list .recent-post__item .recent-post__item__body h5,
p {
  margin: 10px;
  line-height: 1.5;
}

.main__sidebar .recent-post .recent-post__list .recent-post__item .recent-post__item__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* playoffs */
.main__sidebar .playoffs .playoffs__table {
  border-collapse: collapse;
  width: 100%;
  background-color: #003e5aa6;
  border: solid 2px #fff;
}

.main__sidebar .playoffs .playoffs__table th,
.main__sidebar .playoffs .playoffs__table td {
  height: 55px;
  border: solid 2px #fff;
  text-align: center;
}

.main__sidebar .playoffs .playoffs__table td.playoffs__table_team-name {
  text-align: start;
  padding-left: 10%;
}

.main__sidebar .playoffs .playoffs__table td.playoffs__table_team-name img {
  vertical-align: middle;
  margin-right: 5px;
  height: 40px;
  max-width: 40px;
  object-fit: cover;
}

/* next-mactch */
.main__sidebar .next-match {
  height: 350px;
  width: 100%;
}

.main__sidebar .next-match .next-match__board {
  background-color: #00515cb4;
  padding: 20px;
  text-align: center;
}

.main__sidebar .next-match .next-match__board .next-match__board__fight {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main__sidebar .next-match .next-match__board .next-match__board__fight .next-match__board__fight__team-1,
.main__sidebar .next-match .next-match__board .next-match__board__fight .next-match__board__fight__team-2 {
  width: 80px;
  height: 80px;
}

.main__sidebar .next-match .next-match__board .next-match__board__fight .next-match__board__fight__team-1 img,
.main__sidebar .next-match .next-match__board .next-match__board__fight .next-match__board__fight__team-2 img {
  width: 100%;
  object-fit: cover;
}

/* subscribe */
.main__sidebar .subscribe {
  background-color: #ffffffb4;
  color: #000;
  padding: 20px;
}

.main__sidebar .subscribe p {
  margin: 10px 0;
}

.main__sidebar .subscribe input {
  border: none;
  width: 90%;
  padding: 10px;
}

.main__sidebar .subscribe button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
}

.main__sidebar .subscribe button:hover {
  cursor: pointer;
  background-color: #3083ff;
  color: #ffffff;
}



/* Responsive web deign */

/* Tablet: 740px < width <= 1024px  */
@media screen and (min-width: 741px) and (max-width: 1024px) {
  .main {
    grid-template-columns: auto;
    grid-template-areas: 'article' 'sidebar';
    margin-left: 0;
    margin-right: 0;
    padding-top: 60px;
  }

  .main__article {
    margin-bottom: 40px;
  }

  .main__article .slideshow__container {
    margin-bottom: 20px;
  }

  .main__article .card-grid__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 10px;
    margin: 0 10px;
  }

  .main__article .card-grid__container .card-grid__item:hover .card__foreground,
  .main__article .card-grid__container .card-grid__item:active .card__foreground {
    transform: scale(0.98);
    border-radius: 20px;
  }

  .main__article .card-grid__container .card-grid__item .card__title {
    height: auto;
  }
  
  .main__sidebar {
    margin: 0 10px 20px;
    display: grid;
    grid-template-areas:  'recent playoffs'
                          'social next'
                          'social sub';
    column-gap: 30px;
    grid-template-rows: auto;
  }

  .main__sidebar .follow-us {
    grid-area: social;
  }

  .main__sidebar .follow-us > h2 {
    margin: 20px 0;
  }

  .main__sidebar .recent-post {
    grid-area: recent;
  }

  .main__sidebar .playoffs {
    grid-area: playoffs;
  }

  .main__sidebar .next-match {
    grid-area: next;
  }

  .main__sidebar .subscribe {
    grid-area: sub;
  }

  .main__sidebar .follow-us,
  .main__sidebar .recent-post,
  .main__sidebar .playoffs,
  .main__sidebar .next-match {
    margin-top: 30px;
  }
  .main__sidebar .subscribe {
    height: 250px;
  }
  .main__sidebar .playoffs .playoffs__table td.playoffs__table_team-name {
    padding-left: 15%;
  }

  .main__sidebar .recent-post .recent-post__list .recent-post__item {
    height: 102.5px;
  }

  .main__sidebar .social-page__list .social-page__item {
    height: 130px;
  }
}


/* Mobile: width <= 740px */
@media screen and (max-width: 740px) {
  body::after {
    background-color: #000000c4;
  }
  .main {
    grid-template-columns: auto;
    grid-template-areas: 'article' 'sidebar';
    margin-left: 0;
    margin-right: 0;
    padding-top: 60px;
  }

  .main__article {
    margin-bottom: 40px;
  }

  .main__article .slideshow__container {
    margin-bottom: 10px;
  }

  .main__article .card-grid__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 10px;
    margin: 0 10px;
  }

  .main__article .card-grid__container .card-grid__item:hover .card__foreground,
  .main__article .card-grid__container .card-grid__item:active .card__foreground {
    transform: scale(0.98);
    border-radius: 20px;
  }
  .main__article .card-grid__container .card-grid__item .card__title {
    height: auto;
  }

  .main__sidebar {
    margin: 0 10px 20px;
  }

  .main__sidebar .recent-post,
  .main__sidebar .playoffs,
  .main__sidebar .next-match {
    margin-top: 60px;
  }

  .main__sidebar .playoffs .playoffs__table td.playoffs__table_team-name {
    padding-left: 15%;
  }
}


.footer {
  border: none;
  background-color: #000000da;
}