/* Người thiết kế Sport Page: Lâm Tấn Lộc B2110048 */
main * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

footer {
	background-color: #fff !important;
}

.header__homelink {
	width: fit-content;
}

footer {
	border-top: none !important;
	margin-top: 0 !important;
}

footer h2 {
	color: #333 !important;
}


body {
	background-color: #e1dddd;
}

main img {
	height: 35px;
	width: 35px;
	margin: 5px;
	padding: 0%;
}

ul {
	list-style-type: none;
}

li {
	margin: 10px 5px;
}

.d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c-flex {
	display: flex;
	align-items: center;
}

body::after {
	position: absolute;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #000000a9;
	z-index: -1;
}

.header {
	background-color: #000000da;
}

.header__navbar__item a:hover:not(.header__navbar__item--active) {
	background-color: #363636;
}

.main {
	position: relative;
	display: grid;
	grid-template-areas:
		'article article article article'
		'video rank rank up'
		'post post post sidebar'
		'pag pag pag sidebar';
	grid-template-rows: auto;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 70px;
	padding-top: 45px;
}

.video__container--highlight2 {
	height: 254px;
	width: 355px;
}

.main__article {
	grid-area: article;
	margin-bottom: 20px;
}

.main__article .slideshow__container {
	width: 100%;
	padding-top: 60%;
	margin: 0 auto 100px;
	position: relative;
	overflow: hidden;
}

.main__article .slideshow__container .slideshow__list {
	display: flex;
	width: 400%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.main__article .slideshow__container .slideshow__item {
	height: 100%;
	width: 100%;
}

.main__article .slideshow__container .slideshow__item img {
	margin: 0;
	width: 100%;
	height: 100%;
	object-fit: cover
}

/* Number text (1/4 etc) */
.main__article .slideshow__container .slideshow__item .slideshow__numbertext {
	color: #f2f2f2;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.main__article .slideshow__container .slideshow__buttons {
	width: 100%;
	position: absolute;
	bottom: 50%;
	height: 40px;
	display: flex;
	justify-content: center;
}

.main__article .slideshow__container .slideshow__buttons .slideshow__prev-btn,
.main__article .slideshow__container .slideshow__buttons .slideshow__next-btn {
	font-size: 4em;
	width: 50px;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	border: none;
	color: #00da1d;
	transition: background-color .4s ease;
}

.main__article .slideshow__container .slideshow__buttons .slideshow__prev-btn:hover,
.main__article .slideshow__container .slideshow__buttons .slideshow__next-btn:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.main__article .slideshow__container .slideshow__buttons .slideshow__prev-btn {
	left: 0;
	padding-right: 20px;
}

.main__article .slideshow__container .slideshow__buttons .slideshow__next-btn {
	right: 0;
	padding-left: 20px;
}

.main__article .slideshow__container .slideshow__dots {
	width: 100%;
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
}

.main__article .slideshow__container .slideshow__dots .dot__item {
	height: 15px;
	width: 15px;
	margin: 20px 5px 0;
	border: #00da1d solid 3px;
	border-radius: 50%;
	transition: background-color 0.6s ease;
}

.main__article .slideshow__container .slideshow__dots .dot__item:hover {
	background-color: #00da1d;
	cursor: pointer;
}

.main__article .slideshow__container .slideshow__dots .dot__item.active {
	background-color: #00da1d;
}

.next__match {
	background-color: #6ba146;
	padding: 20px;
	text-align: center;
}

.next__match .next-match__board .next-match__board__fight {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.next__match .next-match__board .next-match__board__fight .next-match__board__fight__team-1,
.next__match .next-match__board .next-match__board__fight .next-match__board__fight__team-2 {
	width: 15%;
}

.next__match .next-match__board .next-match__board__fight .next-match__board__fight__team-1 img,
.next__match .next-match__board .next-match__board__fight .next-match__board__fight__team-2 img {
	width: 70%;
	object-fit: cover;
	height: 70%;
}

.video__container {
	grid-area: video;
}

.result-recent {
	grid-area: up;
}

.result-recent-time-name-icon-result-name-icon {
	flex: 1;
}

.result-recent-time-name-icon-result-name-icon__box {
	flex: 4;
}

.result-recent-time-name-icon-result-name-icon_nameteamsport {
	width: 100px;
}

.result-recent-time-name-icon-result-name-icon__box-left,
.result-recent-time-name-icon-result-name-icon__box-center,
.result-recent-time-name-icon-result-name-icon__box-right {
	text-align: center;
}

.result-recent__title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 16px;
	text-align: center;
}

.playoffs {
	grid-area: rank;
	overflow-y: auto;
	height: 500px;
}

.post {
	grid-area: post;
	row-gap: 40px;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.post_new {
	width: 100%;
}

.post_new-title {
	color: red;
	text-decoration: underline;
	font-size: 160%;
}

/* like */
.center {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid #3636;
	padding: 10px 0;
}

.heart-container {
	--heart-color: rgb(255, 91, 137);
	position: relative;
	transition: 0.3s;
	display: flex;
	align-items: center;
}

.heart-container .checkbox {
	position: absolute;
	width: 130%;
	height: 130%;
	opacity: 0;
	z-index: 20;
	cursor: pointer;
}

.heart-container .svg-container {
	width: 1em;
	display: flex;
	margin-left: 5px;
	justify-content: center;
	align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
	fill: var(--heart-color);
	position: absolute;
}

.heart-container .svg-filled {
	animation: keyframes-svg-filled 1s;
	display: none;
}

.heart-container .svg-celebrate {
	position: absolute;
	animation: keyframes-svg-celebrate 0.5s;
	animation-fill-mode: forwards;
	display: none;
	stroke: var(--heart-color);
	fill: var(--heart-color);
	stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
	display: block;
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
	display: block;
}

@keyframes keyframes-svg-filled {
	0% {
		transform: scale(0);
	}

	25% {
		transform: scale(1.2);
	}

	50% {
		transform: scale(1);
		filter: brightness(1.5);
	}
}

@keyframes keyframes-svg-celebrate {
	0% {
		transform: scale(0);
	}

	50% {
		opacity: 1;
		filter: brightness(1.5);
	}

	100% {
		transform: scale(1.4);
		opacity: 0;
		display: none;
	}
}

.card {
	margin: 0 auto;
	position: relative;
	width: 50%;
	background-color: #000;
	padding: 15px 6px;
	border-radius: 8px;
	cursor: pointer;
	color: white;
}
.card button p {
	padding: 10px;
}
.card::before {
	visibility: hidden;
	background-color: transparent;
	content: '';
	position: absolute;
	overflow: hidden;
	inset: 0;
	left: -5px;
	margin: auto;
	width: 103%;
	height: 102%;
	border-radius: 10px;
	background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
	z-index: -10;
	pointer-events: none;
	transition: all 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
	content: '';
	z-index: -1;
	position: absolute;
	inset: 0;
	background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
	transform: translate3d(0, 0, 0) scale(0.95);
	filter: blur(20px);
}

.card img {
	width: 100%;
	height: 50%;
	margin: 5px auto;
	object-fit: cover;
}

#likeCount1 #likeCount2 #likeCount3 #likeCount4 #likeCount5 #likeCount5 #likeCount7 #likeCount8 #likeCount9 #likeCount10 #likeCount11 #likeCount12 {
	font-size: 120%;
}

.clock {
	display: flex;
}

.clock_loader {
	position: relative;
	/* transform: scale(2); */
	border-radius: 50%;
	border: 1px solid;
	width: 30px;
	height: 30px;
	color: white;
}

.clock_loader::after {
	position: absolute;
	width: 0px;
	height: 10px;
	display: block;
	border-left: 1px solid #fff;
	content: '';
	left: 14px;
	border-radius: 1px;
	top: 4px;
	animation-duration: 1s;
}

.clock_loader::before {
	position: absolute;
	width: 0px;
	height: 10px;
	display: block;
	border-left: 1px solid #fff;
	content: '';
	left: 14px;
	border-radius: 1px;
	top: 4px;
	animation-duration: 40s;
}

.clock_loader::before,
.clock_loader::after {
	transform-origin: bottom;
	animation-name: dial;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes dial {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* thẻ continue */
.post_new button {
	border: none;
	width: 100%;
	height: 10%;
	color: #009efd;
	z-index: 1;
	display: flex;
	background: #363636;
	position: relative;
}

.post_new button p {
	margin: 0 auto;
	align-self: center;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.post_new button::after {
	position: absolute;
	content: '';
	width: 100%;
	z-index: -1;
	height: 10%;
	bottom: 0;
	clip-path: polygon(0% 74%,
			4% 75%,
			8% 76%,
			11% 77%,
			15% 78%,
			20% 78%,
			25% 77%,
			32% 77%,
			37% 75%,
			40% 74%,
			43% 74%,
			46% 73%,
			52% 72%,
			57% 72%,
			65% 74%,
			66% 75%,
			71% 78%,
			75% 82%,
			81% 86%,
			83% 88%,
			88% 91%,
			90% 94%,
			94% 96%,
			98% 98%,
			100% 100%,
			82% 100%,
			0 100%);
	background: #8792eb;
	transition: 0.2s ease;
}

.post_new button::before {
	position: absolute;
	content: '';
	/*   bottom: 80%; */
	transform: rotate(180deg);
	width: 100%;
	height: 10%;
	transition: 0.2s ease;
	/*   bottom:; */
	z-index: -1;
	clip-path: polygon(0% 74%,
			4% 75%,
			8% 76%,
			11% 77%,
			15% 78%,
			20% 78%,
			25% 77%,
			32% 77%,
			37% 75%,
			40% 74%,
			43% 74%,
			46% 73%,
			52% 72%,
			57% 72%,
			65% 74%,
			66% 75%,
			71% 78%,
			75% 82%,
			81% 86%,
			83% 88%,
			88% 91%,
			90% 94%,
			94% 96%,
			98% 98%,
			100% 100%,
			82% 100%,
			0 100%);
	background: #8792eb;
}

.post_new button:hover::after {
	clip-path: polygon(0 30%,
			9% 34%,
			7% 39%,
			11% 43%,
			13% 33%,
			17% 30%,
			24% 34%,
			25% 35%,
			30% 31%,
			30% 38%,
			39% 33%,
			35% 43%,
			43% 45%,
			55% 46%,
			65% 74%,
			67% 66%,
			81% 57%,
			75% 82%,
			81% 86%,
			83% 88%,
			88% 91%,
			90% 94%,
			94% 96%,
			98% 98%,
			100% 100%,
			82% 100%,
			0 100%);
	height: 80%;
}

.post_new button:hover::before {
	clip-path: polygon(0 30%,
			9% 34%,
			7% 39%,
			11% 43%,
			13% 33%,
			17% 30%,
			24% 34%,
			25% 35%,
			30% 31%,
			30% 38%,
			39% 33%,
			35% 43%,
			43% 45%,
			55% 46%,
			65% 74%,
			67% 66%,
			81% 57%,
			75% 82%,
			81% 86%,
			83% 88%,
			88% 91%,
			90% 94%,
			94% 96%,
			98% 98%,
			100% 100%,
			82% 100%,
			0 100%);
	height: 80%;
}

.card .heading {
	text-transform: capitalize;
	font-weight: 700;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-bottom: 10px;
}

.card p:not(.heading) {
	font-size: 14px;
	/* height: 7%; */
}

.card:hover::after {
	filter: blur(30px);
}

.card:hover::before {
	visibility: visible;
}

.card_follow {
	grid-area: sidebar;
	position: relative;
}

.card_follow_wrapper {
	position: sticky;
	top: 70%;
	margin: 120px auto;
	right: 0;
	background-color: rgb(238, 22, 238);
	display: flex;
	justify-content: center;
	padding: 10px;
	gap: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.pagination {
	grid-area: pag;
	display: flex;
	justify-content: center;
	margin: 50px auto 30px;
}

/* Pagination links */
.pagination a {
	color: #000000;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
	background-color: rgb(0, 87, 173);
	color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
	background-color: #c43434;
}

/* for all social containers*/
.socialContainer {
	width: 63px;
	height: 63px;
	background-color: rgb(44, 44, 44);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
	background-color: #d62976;
	transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
	background-color: #00acee;
	transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
	background-color: #0072b1;
	transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
	background-color: #128c7e;
	transition-duration: 0.3s;
}

.socialContainer:active {
	transform: scale(0.9);
	transition-duration: 0.3s;
}

.socialSvg {
	width: 17px;
}

.socialSvg path {
	fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
	animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/* weather */
.card_follow {
	position: sticky;
	right: 0;
}

.cardm {
	position: sticky;
	top: 20%;
	margin-top: 100px;
	margin-bottom: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;
}

.carda {
	width: 250px;
	height: 130px;
	border-radius: 25px;
	background: whitesmoke;
	color: black;
	z-index: 2;
	transition: 0.4s ease-in-out;
}

.weather {
	position: relative;
	margin: 1em;
}

.temperature {
	font-size: 2em;
	position: relative;
	top: -3em;
	left: 4.3em;
}

.mainsub {
	position: relative;
	top: -10.2em;
	left: 14em;
	font-size: 0.6em;
}

.carda2 {
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 240px;
	height: 130px;
	border-radius: 35px;
	background: white;
	z-index: -1;
	transition: 0.4s ease-in-out;
}

.carda:hover {
	background-color: #ffe87c;
	cursor: pointer;
}

.carda:hover+.carda2 {
	height: 300px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.carda:hover+.carda2 .lower {
	top: 20.2em;
}

.upper {
	display: flex;
	flex-direction: row;
	position: relative;
	color: black;
	left: 1.8em;
	top: 0.5em;
	gap: 4em;
}

.humiditytext {
	position: relative;
	left: 3.6em;
	top: 2.7em;
	font-size: 0.6em;
}

.airtext {
	position: relative;
	left: 3.8em;
	top: 2.7em;
	font-size: 0.6em;
}

.lower {
	display: flex;
	flex-direction: row;
	position: absolute;
	text-align: center;
	color: black;
	left: 3em;
	top: 1em;
	margin-top: 0.7em;
	font-size: 0.7em;
	transition: 0.4s ease-in-out;
}

.aqi {
	margin-right: 3.25em;
}

.realfeel {
	margin-right: 1.8em;
}

.carda3 {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 240px;
	height: 30px;
	top: 4.7em;
	left: -2.4em;
	font-size: 1.24em;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	background: limegreen;
	transition: 0.4s ease-in-out;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.main {
		grid-template-areas:
			'article article article article'
			'video video up up'
			'post post post sidebar'
			'pag pag pag sidebar' !important;
		margin: 0;
	}

	body {
		font-size: 14px;
	}

	.playoffs {
		display: none;
	}

	.socialContainer {
		width: 43px;
		height: 43px;
	}

	.card_follow_wrapper {
		width: fit-content;
		padding: 5px 5px;
		gap: 5px;
		margin: 100px auto;
	}

	.card:hover::before {
		width: 104% !important;
	}

	.carda:hover+.carda2 {
		height: 270px;
	}
}

@media screen and (max-width: 768px) {
	.main__article .slideshow__container .slideshow__item img {
		width: 96%;
		height: 100%;
		object-fit: cover;
	}

	p {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		/* Số dòng tối đa bạn muốn hiển thị */
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.post_new-title {
		display: none;
	}

	.card p:not(.heading) {
		font-size: 1.3em;
	}

	.next__match {
		padding: 0;
		width: 98%;
	}

	.main {
		display: inline-block;
		margin: 0;
	}

	.video__container--highlight2 {
		height: 283px;
		width: 98%;
	}

	#likeCount1 #likeCount2 #likeCount3 #likeCount4 #likeCount5 #likeCount5 #likeCount7 #likeCount8 #likeCount9 #likeCount10 #likeCount11 #likeCount12 {
		font-size: 90%;
	}
}