body {
    background: url('../images/survey/bg.jpg') no-repeat fixed center;
    background-size: cover;
}

.header {
    background-color: #000000da;
}

.header__navbar__item a:hover:not(.header__navbar__item--active) {
    background-color: #363636;
}

.main {
    min-height: 1000px;
    height: 100px;
    width: 100%;
    padding-top: 100px;
}
.main form {
    width: 70%;
    padding: 30px;
    margin: 0 auto;
    background-color: #ffffffab;
}
.footer {
    margin-top: 0;
    border: none;
    background-color: #000000da;
}

.footer h4 {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.footer h4 a:hover {
    color: black;
}
